.swagger-ui .opblock .opblock-summary-description {
    color: #b6c0ff;
    font-family: sans-serif;
    font-size: 14px;
    background: inherit;
    word-break: break-word;
    padding: 7px;
    border-radius: 11px;
    /*    border: 2.4px solid black;*/
}

.swagger-ui .opblock .opblock-summary-path-description-wrapper {
    justify-content: space-between;
}

body {
}

* {
    color: #8091ff;
}

.swagger-ui .info .title {
    color: #5f75ff;
}

.swagger-ui .markdown p, .swagger-ui .markdown pre, .swagger-ui .renderedMarkdown p, .swagger-ui .renderedMarkdown pre {
    color: #5f75ff;
}

.swagger-ui table thead tr td, .swagger-ui table thead tr th {
    color: #8091ff;
}

.swagger-ui .parameter__name {
    color: #8091ff;
}

.swagger-ui .parameter__type {
    color: #c7ceff;
}

.swagger-ui .parameter__extension, .swagger-ui .parameter__in {
    color: #ffffff;
}

.swagger-ui .opblock .opblock-section-header {
    background-color: rgba(0, 0, 0, 0.2);
}

.swagger-ui .btn {
    color: #8091ff;
}

.swagger-ui .parameters-col_description input {
    background-color: rgba(0, 0, 0, 0.2);
}

.swagger-ui .no-margin {
    background-color: rgba(0, 0, 0, 0.25);
}

.swagger-ui .response-col_status {
    color: #8091ff;
}
